/* ===== RESET & BASE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* ===== LOGIN ===== */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    width: 360px;
}

.login-form {
    width: 100%;
    text-align: center;
}

.login-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box h1 {
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 900;
}

.login-box h2 {
    color: #888;
    margin-bottom: 1rem;
    align-items: center;
}


.login-box p {
    margin-bottom: 1.5rem;
    color: #888;
    font-size: 0.9rem;
}


/* ===== FORMULAIRES ===== */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.form-group label {
    font-size: 0.9rem;
    color: #555;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
}


/* ===== BOUTONS ===== */
.btn-primary {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.95rem;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-full {
    width: 100%;
}

/* ===== NOTIFICATIONS ===== */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}

.notification-success {
    background-color: #2ecc71;
}

.notification-error {
    background-color: #e74c3c;
}